<!DOCTYPE html>
<html>
<head>
  <title>Deforest</title>
  <%= stylesheet_link_tag    "deforest/application", media: "all" %>
  <%= javascript_include_tag "deforest/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
